.main {
  display: flex;
  margin: 0 auto;
  margin-top: 24px;
  width: 1150px;
  position: relative;
}

.content {
  width: 58%;
}

.image {
  background-image: url("../images/image-hero-desktop.png");
  background-size: 480px;
  background-repeat: no-repeat;
  width: 42%;
}

h1 {
  color: hsl(0, 0%, 8%);
  font-size: 80px;
  line-height: 81px;
  margin-top: 110px;
}

span {
  display: block;
}

p {
  color: hsl(0, 0%, 41%);
  font-size: 18px;
  line-height: 29px;
  width: 480px;
}

.learnMoreBTN {
  color: hsl(0, 0%, 98%);
  background: hsl(0, 0%, 8%);
  border-radius: 14px;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 32px;
  margin-top: 30px;
}

.learnMoreBTN:hover {
  background: none;
  border: 2px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

.clients {
  margin-top: 100px;
  display: flex;
}

.clients img {
  align-self: center;
  margin-right: 40px;
}

@media (max-width: 1400px) {
  .main {
    flex-direction: column-reverse;
    margin-top: 0px;
    width: 100%;
  }

  .content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .image {
    background-image: url("../images/image-hero-mobile.png");
    background-size: 374px;
    background-repeat: no-repeat;
    height: 310px;
    width: 100%;
  }

  h1 {
    /* border: 1px solid red; */
    font-size: 36px;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  span {
    display: inline-block;
  }

  p {
    /* border: 1px solid red; */
    font-size: 17px;
    line-height: 26px;
    margin: 0px;
    text-align: center;
    width: 100%;
  }

  .learnMoreBTN {
    font-size: 16px;
    margin-top: 26px;
    padding: 14px 24px;
  }

  .clients {
    /* border: 1px solid red; */
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .clients img {
    margin-right: 0px;
    width: 70px;
  }

  .clients img:not(:last-child) {
    margin-right: 25px;
  }
}
